@charset "utf-8";
/*基础样式*/
body{ margin: 0;padding: 0;font-family: "微软雅黑";}
body,html{-webkit-text-size-adjust: none;width: 100%;height: 100%;}
*{text-decoration: none;list-style: none;}
img{border: 0;}
body {
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
h1 {
    font-size: 2.4rem; /*2.4em × 10 = 24px */
}
p	{
    font-size: 1.4rem; /*1.4em × 10 = 14px */
}
li {
    font-size: 1.4rem; /*1.4 × ? = 14px ? */
}
html{

}
th,td{
    text-align: center;
    font-size: 14px;
}
ul,li,ol,dl,dd,dt,a,p,ol,h1,h2,h3,h4,h5,i{font-weight: 100; font-style:normal;padding: 0;margin: 0; text-decoration:none !important; list-style-type: none;}
.wrap{margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.clr{clear:both; height:0; width:100%; font-size:1px; line-height:0; visibility:hidden; overflow:hidden;}
.sz{cursor:pointer;}
input, select{
    outline: medium none;
}

.admin-bj{
    width: 100%;
    height: 100%;
    background: url("../images/admin.jpg") no-repeat;
    background-size: cover;
}
.bj{
    width: 100%;
    height: 100%;

}
.bj img{
    width:100%;
    height: 100%;


}




.dla {
    width: 30% !important;
    display: block;
    float: left;
    color: #fff;
    background: #557595;
    border-radius: 5px;
    margin-left: 20%;
}
.dlb {
    width: 30% !important;
    display: block;
    margin-right: 8%;
    float: right !important;
    color: #fff;
    background: #557595;
    border-radius: 5px;
}

.header {
    width: 100%;
    background: #ebf2f2;
}
.header-center {
    width: 98%;
    margin: 0 auto;
    position: relative;
}
.logo {
    width: 168px;
    padding: 2rem 0 1rem 0;
    display: block;
    float: left;
}
.header-center ul {
    width: 75%;
    float: left;
    margin-bottom: 0;
    margin-left: 1%;
}
.header-center ul li {
    padding: 1rem 0 1rem 0;
    float: left;
    width: 14.28%;
    background: #ebf2f2;
    text-align: center;
    font-size: 1.6rem;
    line-height: 50px;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    box-sizing: border-box;
    border: 1px solid #ebf2f2;
}

.active {
    background: #a1d8d8 !important;
    color: #fff;
}

.activea {
    position: relative;
}
.suosu-k{
    margin-left: 20px;
    height: 30px;
    font-size: 14px;
    border: 0;
}
.obc{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0;
    background: #ccc;
    color: #3a3d5f;
    font-size: 16px;

}
.tj-div {
    width: 100%;
    background: #dae1e1;
    padding: 10px 0 10px 0;
    overflow: auto;
    float: left;
}
.tj-div p {
    width: 76%;
    font-size: 1.4rem;
    margin: 0 auto;
    overflow: auto;
}
.tj-div p span {
    display: block;
    float: left;
    line-height: 26px;
    font-size: 1.4rem;
    margin: 0 1rem;
}
.tj-div p input {
    display: block;
    float: left;
    height: 26px;
    font-size: 1.4rem;
}
.lablea {
    margin-left: 2rem;
    line-height: 26px;
}
.selectAge {
    height: 26px;
    font-size: 1.4rem;
    line-height: 26px;
}

.selectAge {
    height: 26px;
    font-size: 1.4rem;
    line-height: 26px;
}
.banner {
    width: 100%;
    display: block;
    float: left;
}
.ane{
    margin-right: 2%;
}
.ann{
    margin-left: 2%;
}
.main{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 20px 0;
}
.xg-mm {
    width: 100%;
    margin: 0 auto;
}
.xg-mm p {
    width: 486px;
    margin: 20px auto;
    overflow: hidden;
}
.xg-mm p label {
    width: 110px;
    text-align: right;
    float: left;
    margin-right: 20px;
    display: block;
    font-size: 1.4rem;
    color: #000;
    line-height: 40px;
}
.xg-mm p input {
    width: 240px;
    height: 40px;
    border: 1px solid #756a6a;
    box-sizing: border-box;
    line-height: 40px;
    border-radius: 2px;
}

.xg-mm-font {
    font-size: 1.4rem;
    display: block;

}
.xg-an {
    width: 110px !important;
    display: block;
  margin: 0 auto;
    border-radius: 50px;
    background: #4396bc;
    color: #fff;
    font-size: 1.4rem;
}
.xg-an:nth-child(3){
    margin-right: 0;
}
.spann{
    width:185px;
    height: 75px;
    line-height: 75px;
    display: block;
    float: right;
    font-size: 12px;
}
.spann b{
    margin-left: 10px;
}
.xg-ana{
    display: block;
}
.sj{
    margin-right: 10px;
}
.tableh tr:nth-child(1){
    color: red;
}
.tableh tr:nth-child(2){
    color: red;
}
.tableh tr:nth-child(3){
    color: red;
}
.di-jt{
    position: relative;
}
.jt-top{
    width: 60px;
    height: 20px;
    display: block;
    float: left;
    position: absolute;
    top: 8px;
    left: 30%;
}
.jt-top img{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}
.tableh tr td span{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: -200px;
    position: relative;

}
.js-s{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    left: 40px;
}
.jt-x{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    left: 70px;
}
.xj-gg{
    height: 40px;
    border-color: #cdcdcd;
    width: 99px;
}
.xg-password{
    color: red !important;
    display: block;
    float: right;
    margin-left: 10px;
}
.focus-b{
    min-width: 900px;
    min-height: .01%;
    overflow-x: auto;
}
.tabla {
    font-size: 1.4rem;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}


.dataa{
    width: 1300px;
    margin: 0 auto;
}
.dataa label{
    display: block;
    float: left;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: normal;
}
.dataa input{
    width:150px;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 14px;
    float: left;
    border: 0;
}

.dataa:nth-child(2){
    margin-left: 0;
    width: 600px;
}

.span-z{
    display: block;
   margin: 0 auto;
    position: relative;
}
.sc-a button{
    display: inline-block;
    float: left;
    position: absolute;
    top: 2px;
   padding: 8px;
    font-size: 14px;
    border: 0;
    right: 12%;
    background: #4396bc;
    color: #fff;
    border-radius: 13px;
}
.sc-a{
    position: relative;
}

.sj-bj{
    background: #fff;
}
.sj-left{
    margin-left: 15px;
}


.damin-cenre{
    width: 520px;
    margin: 0 auto;
}

.damin-cenre img{
    width: 310px;
    height: 62px;
    display: block;
    margin: 0 auto;
}
.damin-cenre p{
    width: 100%;
    float: left;

}
div.admin p {
    width: 100%;
    margin: 1rem auto;
    overflow: hidden;
    color: #000;
    float: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
}
.hea{
    width: 100%;
    color: #fff;
    display: block;
    text-align: center !important;
    font-size: 24px;
}
.fk{
    width: 370px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px!important;
}
.fk button{
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #68b706;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.fk label{
    width: 15%;
    display: block;
    float: left;
}
.fk label img{
    width: 56px;
    height: 50px;
    display: block;
    float: left;
}
.fk input{
    width: 85%;
    height: 50px;
    display: block;
    float: left;
    font-size: 14px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.foram{
    width: 100%;
    height: 360px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    float: left;
}

.fk-dw{
    position: absolute;
    width: 25px !important;
    height: 25px !important;
    top: -12px;
    left: 0;
    right:0;
    margin: auto;
}
.admin {
    width: 520px;
    height: 460px;
    border-radius: 10px;

    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.xzj{
    width: 20px!important;
    height: 20px !important;
    display: block;
    float: left;
    border: 0;
    background: #3ca9ee;
}
.yh-jz{
    display: block;
    float: left;
    line-height: 26px !important;
    text-align: left;

}










@media screen and (max-width: 950px) {
    .header-center ul{
        width: 30%;
        float: right;
    }
    .header-center ul li{
        display: none;
    }

    .tj-div p{
        min-width: 900px;
    }
}
@media screen and (max-width:600px){
.admin{
    width: 85%;
}
    .damin-cenre{
        width: 100%;
    }

    .fk{
        width: 96%;
    }
}
@media screen and (max-width:430px) {
    .xg-mm p label{
        display: none;
    }
    .xg-mm-font{
        display: block;
        margin: 0 auto !important;
    }
    .xg-mm p{
        width: auto;
    }
    .fk label{
        width: 18%;
    }
    .fk input{
        width: 82%;
    }



}