<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>添加订单配置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/plugins/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrapTable/bootstrap-table.min.css}">
	<link rel="stylesheet" th:href="@{/js/plugins/bootstrap-editable/bootstrap-editable.css}">

	<script th:src="@{/js/plugins/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrapTable/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrapTable/bootstrap-table-zh-CN.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.js}"></script>
	<!--引入JS-->

</head>
<body>

	<div class="main table-responsive">
		<table id="orderDetail">
		</table>
	</div>
<div class="container">
	<div class="row">
		<table class="table table-bordered">
			<caption>
				<div class="row">
					<div class='col-sm-5'></div><div class='col-sm-1'><img src="/images/hongbs.svg"></div>
					<div  width="150px">重庆泓搏仕服饰有限公司<br>生产计划单</div><div class='col-sm-5'></div>
				</div>
			</caption>
			<tr>
				<th>单号：<span th:text="${order.oddNum}?${order.oddNum}:'还未下单'"></span></th>
				<th>学校名称：<span th:text="${order.partyA}"></span></th>
				<th>订单名称：<span th:text="${order.orderName}?${order.orderName}:'bug'"></span></th>
			</tr>
			<tr>
				<th>下单时间：<span th:text="${order.oddNum}?${order.orderTime}:'还未下单'"></span></th>
				<th>交货时间：<span th:text="${order.deliveryTime}"></span></th>
				<td></td>
			</tr>
			<tr>
				<th colspan="2">* 配置：<a href="javascript:void(0);" id="infoName"></a></th>
				<td> 总数（合计）：<a href="javascript:void(0);" id="total"></a></td>
			</tr>
			<tr>
				<td colspan="2"  style="
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;">
					<table id="fabricTable" class="table table-bordered" border="1" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>* 面料<button onclick='openFabricDiv();' type='button' class='btn btn-sm' style="float: right">
									<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>添加</button>
								</th>
								<th>颜色</th>
								<th colspan="2">* 工艺要求</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="
								padding-left: 0px;
								padding-right: 0px;
								padding-bottom: 0px;
								padding-top: 0px;"></td>
								<td style="
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;"></td>
								<td colspan="2" class="col-sm-4" rowspan="10" style="word-wrap: break-word">
									<a href="javascript:void(0);" id="gongyi"></a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>* 款式</th>
								<th colspan="3"><a href="javascript:void(0);" id="style"></a></th>
							</tr>
							<tr>
								<th colspan="4"> 款式图</th>
							</tr>
							<tr>
								<td colspan="4" class="row">

									<p><a href="javascript:void(0);" onclick="addStyleFile();">添加款式图片</a></p>
									<p id="styleImage"></p>
									<!--<img src="/images/test1.png" class="col-sm-4">
									<img src="/images/test2.png" class="col-sm-4">-->
								</td>
							</tr>
							<tr>
								<th colspan="4">* 有无给客户留样衣：<a href="javascript:void(0);" id="giveKH"></a></th>
							</tr>
							<tr>
								<th>* 含量</th>
								<th colspan="3"><a href="javascript:void(0);" id="containFabric"></a></th>
							</tr>
							<tr>
								<th>* 校微</th>
								<th><a href="javascript:void(0);" id="logoStation"></a></th>
								<th> 位置</th>
								<td>
									<!--<img src="/images/test3.png">-->
									<p><a href="javascript:void(0);" onclick="addLogoFile();">选择校徽图片</a></p>
									<p>（重复提交会替换）</p>
									<p id="logoImage"><img src=""></p>
								</td>
							</tr>
						</tfoot>
					</table>
				</td>
				<td class="col-sm-4" style="  padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;">
					<!--型号数量table-->
					<table class="table table-bordered" border="1" cellspacing="0" cellpadding="0">
						<tr>
							<th>型号（身高）</th>
							<th>数量</th>
						</tr><tr>
							<td>XXS(110)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXS(115)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XS(120)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XS_M(125)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>S(130)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>S_M(135)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>M(140)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>M_M(145)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>L(150)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>L_M(155)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XL(160)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XL_M(165)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXL(170)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXL_M(175)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXXL(180)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXXL_M(185)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXXXS(190)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr><tr>
							<td>XXXXS_M(195)</td>
							<td><a href="javascript:void(0);" class="modelNum"></a></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<button type="button" class="center-block btn btn-info" onclick="addOrderInfo();">保存配置</button>
		<!--添加面料弹出div-->
		<div class="modal fade" id="fabricDiv" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">添加面料</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="fabricName" class="control-label">面料：</label>
							<input type="text" class="form-control" id="fabricName">
						</div>
						<div class="form-group">
							<label for="fabricColor" class="control-label">颜色：</label>
							<input type="text" class="form-control" id="fabricColor">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" onclick="addFabric();">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script th:inline="javascript">
        var orderId = [[${order.id}]];
        var logoFile = null;//校徽
        var styleFile = [];//款式图片

        /**
         * 业务数据
		 * 添加配置
         * */
        /*<![CDATA[*/
        function addOrderInfo(){  //TODO   gongyi   total
            var infoName = $("#infoName").text();//配置名称
            var fabric = new Array();//面料
			var style = $("#style")[0].innerText;//款式
            var giveKH = $("#giveKH")[0].innerText;//是否有样衣

            var gongyi = $("#gongyi")[0].innerText;//工艺
            var total = $("#total")[0].innerText;//总数


            var containFabric = $("#containFabric")[0].innerText;//含量
            var logoStation = $("#logoStation")[0].innerText;//校徽位置
			var modelNum = [];//每个型号的数量
			var modelNums = $(".modelNum");
			for(var i = 0; i<modelNums.length; i++){
                modelNum.push(modelNums[i].innerText);
			}

			/*if(!!total&&parseInt(total)!=0){//总数不能为0
			}else{
				layer.msg("请填写正确的总数");
				return;
			}*/

            if(!!infoName&&infoName.length>3&&infoName!="请填写配置名称"){
			}else{//配置名称至少3位数
                layer.msg("请填写配置名称，至少4个字");
                return;
			}
            /*面料获取*/
            var spanName = $(".fabricName");
            var spanColor = $(".fabricColor");
			for(var i = 0; i<spanName.length; i++){
			    var obj = new Object();
			    obj.name = spanName[i].innerText;
                obj.color = spanColor[i].innerText;
                fabric.push(obj);
			}
			if(fabric.length<1){
			    layer.msg("请添加面料");
			    return;
			}
            /*if(logoFile==null){
                layer.msg("请上传校徽图片");
                return;
            }
            if(styleFile.length<1){
                layer.msg("请上传款式图片");
                return;
			}*/
            var styleImage = JSON.stringify(styleFile);//款式图片list
            var modelList = JSON.stringify(modelNum);//型号list
            $.ajax({
                url : "/orderDetail/addInfo",
                type : "POST",
                data : {
                    orderId:orderId,
                    fabric:JSON.stringify(fabric),
                    styleImage:styleImage,
                    style:style,
                    gongyi:gongyi,
                    total:total,
                    giveKH:giveKH,
                    containFabric:containFabric,
                    logoStation:logoStation,
                    logoFile:logoFile,
                    infoName:infoName,
                    modelList:modelList,
                },
                timeout : 20000,
                beforeSend:function(){
                    index = layer.msg('添加中...', {icon: 16,time: 20000,shade:0.01});
                },
                success : function(data) {
                    layer.close(index);
                    if(data=="配置添加成功"){
                        layer.alert(data,{
                            end:function(){
                                window.location.replace(document.referrer);
                            }
                        });
					}else{
                        layer.msg(data);
					}

                },
                error : function(data) {
                    layer.msg(data.status);
                }
            });
        }
        /*]]>*/
	</script>
	<script src=/js/orderDetail.js th:inline="javascript"></script>


</body>
</html>