<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>下单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrapTable/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/js/plugins/rangedate/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
     
    <script th:src="@{/js/plugins/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrapTable/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrapTable/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/js/plugins/layer/layer.js}"></script>
    <script th:src="@{/js/plugins/rangedate/moment.min.js}"></script>
    <script th:src="@{/js/plugins/rangedate/daterangepicker.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>

<body>
<header class="header fl">
    <div class="header-center centera">
        <img th:src="@{/images/logo_03.png}" alt="" class="logo">
        <!-- PC显示-->
        <ul class="dcla-ul">
            <li class=" activea  active">下单管理
                <ol class="active-ol" style="display: none;">
                </ol>
            </li>
 			<span class="spann"><b th:text="${session.user.getName()}"></b><a href="/users?method=changePass" class="xg-password">修改密码</a><a href="/layout" class="xg-password">退出 &nbsp;&nbsp;</a></span>
        </ul>
    </div>
    <img th:src="@{/images/banner.png}" class="banner" alt="弘博士">
</header>
<div class="tj-div">
    <!-- 时间-->
</div>


    <!--容器-->
    <div class="container">
        <div class="row">

            <table id="userJson">
            </table>
        </div>
    </div>

    <!--添加   订单弹出div-->
    <div class="modal fade" id="addOrderDiv" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="text-align: center">添加单号</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="orderName" class="control-label">* 订单名称：</label>
                    <input type="text" id="orderName" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="partyA" class="control-label">* 学校：</label>
                    <input type="text" id="partyA" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="deliveryTime" class="control-label">* 交货时间（可更改）：</label>
                    <input type="text" id="deliveryTime" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="orderNum" class="control-label">* 单号：</label>
                    <input type="text" id="orderNum" placeholder="请输入单号" class="form-control">
                </div>
                <div class="form-group">
                    <label for="remark" class="control-label">  备注：</label>
                    <input type="text" id="remark" placeholder="请输入单号" class="form-control">
                </div>
                <input type="text" id="orderId" class="form-control" style="display: none;">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addOrderNum();"class="btn btn-info center-block" style="border-radius: 50px;">确认修改</button>
            </div>
        </div>
    </div>
</div>

    <!--//TODO  没用-->
    <!--<form  method="post" id="ff"  enctype="multipart/form-data">
   <div class="main xg-mm">
     <p><label>订单名称:</label><input type="text" disabled="true"　readOnly="true" id="orderName" name="orderName" placeholder="请输入订单名称" class="xg-mm-font form-control"></p>
   	 <p><label>单号:</label><input type="text" id="oddNum" name="oddNum" placeholder="请输入单号" class="xg-mm-font form-control"></p>
     <p><label>学校名称:</label><input type="text" id="partyA" name="partyA" placeholder="请输入学校名称" class="xg-mm-font form-control" disabled="true"　readOnly="true"></p>
     <p><label>交货时间:</label><input  id="deliveryTime" name="deliveryTime" placeholder="请输入交货时间" class="xg-mm-font form-control" disabled="true"　readOnly="true"></p>
     <p><label>备注:</label><input type="text" id="remark" name="remark" placeholder="请输入备注" class="xg-mm-font form-control"  ></p>
     <p id="file_p"><span class="span-z"><label>文件:</label><input name="orderFile" id="orderFile"  type="file" multiple="multiple" class="xg-mm-font"></span></p>
     <p id="serverResponse" style="color: red;"></p>
     <p><input type="button" value="确认提交" class="xg-an" onclick="postOrder()"></p>

     </div>
     </form>-->


    <script th:inline="javascript">
        var level = [[${session.user.getLevel()}]];
    </script>
    <script th:src="@{/js/xiadan.js}"></script>

</body>
 </html>